.Overview {
    /* width: 470px; */
    /* height: 34px; */
    font-family: Rubik;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: white;
    margin-left: 50px;
    z-index: 1;
    transition: all 200ms linear;
}

.hamb{
  position: absolute;
  top: 18px;
  transition: all 200ms linear;
}


.Overview.active{
  margin-left: 240px;
  transition: all 200ms linear;
}

.hamb.active{
  margin-left: 188px;
  transition: all 200ms linear;
}

.hambSpan{
  display: block;
  width: 30px;
  height: 4px;
  background-color: white;
  margin: 5px 0px;
}

.hambSpan.active{  
  transition: all 200ms linear;
}

.Rectangle {
    /* width: 1440px; */
    height: 65px;
    width: 100%;
    box-shadow: 0 2px 11px 0 #d3dbe2;
    background-color: #18212b;
    clear: none;
    display: flex;
    position: absolute;
    z-index: 1;
  }

.User-Avatar-Image {
    width: 28px;
    height: 28px;
    object-fit: contain;
    position: inherit;
    left: 13px;
  }
/* If the screen size is 768px wide or less, hide the element */
@media only screen and (max-width: 768px) {
  .User-Avatar-Image {
    display: none;
  }
  .Rectangle{
    background-color: green;
  }
  .Overview{
    margin-left: 240px;
    transition: all 200ms linear;
    font-size: 10px;
  }
  .Overview.active{
  margin-left: 50px;
  transition: all 200ms linear;
  }

  .hamb.active{
  margin-left: 0px;  
  position:absolute;
  transition: all 200ms linear;
  }
  .hamb{
    margin-left: 188px;
    transition: all 200ms linear;
  }

}

.btn-group{
  display: inline-block;
  /* position: absolute;  */
  z-index: 2;
}

.login-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
}

