.spinner-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-style {
    width: 120px;
}

.small-spinner-style {
    width: 34px;
}

.white {
    fill: white
}
