<div class="page-container">
	<div class="first-row">
		<div class="page-title">Dashboard</div>
	</div>
	<div class="cards-row">
		<div class="card">
			<div class="card-title">Events</div>
			<div class="card-text">{{dashboardInfo?.num_of_events}}</div>
		</div>
		<div class="card">
			<div class="card-title">Users</div>
			<div class="card-text">{{dashboardInfo?.num_of_users}}</div>
		</div>
		<div class="card">
			<div class="card-title">Managers</div>
			<div class="card-text">{{dashboardInfo?.num_of_managers}}</div>
		</div>
	</div>
</div>
