.inputs-container{
	padding: 30px 75px;
}

.half-width{
	width: 50%
}

.input-margin{
	margin-top: 20px;
	margin-bottom: 20px;
}

.buttons-section{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 20px;
}

.back-button{
	border: 1px solid rgba(0,0,0,.12);;
	margin-right: 20px;
}
