
<!-- hamburger menu -->

<!-- <div class="flex-container" [ngClass]="{active:isOpen}" >
    
    <div class="hamb" (click)="toggleSidebar()">
        <span></span>
        <span></span>
        <span></span>
    </div>   
[ngClass]="{active:isOpen}" -->


<div class="flex-container" [ngClass]="{'active': isHambOpen}">
    <!-- ngswitch: index
        <searchCom case: searchTab></search>
        <favoritehCom case: favoriteTab></search> -->

    <app-sidebar-item
        (closeSiderbarEvent)="closeSide($event)"
        (displayFavouritesEvent)="display($event)"
        (displaySearchEvent)="showSearch($event)"
        *ngFor="let item of sidebarItems ; let i = index"
        [sidebarItem]="item"
        [index]="i">
        </app-sidebar-item>
</div>
<!-- <router-outlet></router-outlet> -->