.c-login{
	height: 600px;
    width: 400px;
   margin: 15% auto;
}

.c-form{
	width: 100%;
}

.full-width{
	width: 100%;
}

.c-logo{
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

small{
	color: #f44336;
}


.logo{
	width: 117px;
	height: 130px;
}
