<a
    *ngIf="index!==0"
    style="cursor: pointer;"
    [routerLink]="[index]"
    routerLinkActive="active"
    style="text-decoration:none"
    class="list-group-item clearfix item">
    <div class="pull-left">
        <h4 class="list-group-item-heading itemText">{{ sidebarItem.name }}</h4>
    </div>
</a>

<!-- class="list-group-item clearfix item" -->

<a
    *ngIf="index===0"
    style="cursor: pointer;"
    [routerLink]="[index]"
    style="text-decoration:none"
    class="list-group-item clearfix item">
    <div class="pull-left">
        <span id="Xbutton" (click)="closeSidebar()"  
            style="cursor: pointer;">{{ sidebarItem.name }}</span>
    </div>
</a>