<a
    *ngIf="index===1"
    style="cursor: pointer;"
    [routerLink]="[sidebarItem.name]"
    routerLinkActive="active"
    style="text-decoration:none"
    (click)="displaySearch()"
    class="list-group-item clearfix item">
    <div class="pull-left">
        <h4 class="list-group-item-heading itemText">{{ sidebarItem.name }}</h4>
    </div>
</a>

<a
    *ngIf="index===2"
    style="cursor: pointer;"
    [routerLink]="[sidebarItem.name]"
    routerLinkActive="active"
    style="text-decoration:none"
    (click)="displayFavourites()"
    class="list-group-item clearfix item">
    <div class="pull-left">
        <h4 class="list-group-item-heading itemText">{{ sidebarItem.name }}</h4>
    </div>
</a>

<a
    *ngIf="index===3"
    style="cursor: pointer;"
    [routerLink]="[sidebarItem.name]"
    routerLinkActive="active"
    style="text-decoration:none"
    (click)="displayGitHub()"
    class="list-group-item clearfix item">
    <div class="pull-left">
        <h4 class="list-group-item-heading itemText">{{ sidebarItem.name }}</h4>
    </div>
</a>

<!-- class="list-group-item clearfix item" -->
<!-- [routerLink]="/search" -->

<a
    *ngIf="index===0"
    style="cursor: pointer;"
    [routerLink]="[sidebarItem.name]"
    style="text-decoration:none"
    class="list-group-item clearfix item">
    <div class="pull-left">
        <span id="Xbutton" (click)="closeSidebar()"  
            style="cursor: pointer;">{{ sidebarItem.name }}</span>
    </div>
</a>