/* You can add global styles to this file, and also import other style files */

@import '~src/assets/styles/base';

html,
body {
    height: 100%;
}

body,
button,
.mat-select,
.mat-form-field {
    margin: 0;
    font-family: 'Poppins', sans-serif !important;
}


